<div class="topics row align-center">

  {% for p in page.find('/kb').children if p != page %}
    <div class="col-xs-12 col-md-5">
      <h5>
        <a href="{{ p.url }}">{{ p.title }}</a>
      </h5>
      <ul>
        {% for item in p.collection %}
        <li><a href="{{ p.url }}#{{item.slug}}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
      <p>&nbsp;</p>
    </div>
  {% endfor %}
</div>
