{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!doctype html>
<html>
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {#
    <link href="http://fonts.googleapis.com/css?family=Lato:400,400,300,900" rel="stylesheet" type="text/css">
    #}

    {% block stylesheets %}
    {% do assets.addCss('theme://css/main-position.css') %}
    {% do assets.addCss('theme://css/main-grid.css') %}
    {% do assets.addCss('theme://css/main-style.css') %}
    {% endblock %}
    {{ assets.css() }}


    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.moneynotlove.ch/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->

  {% endblock head %}
</head>


<body id="body">

  {% block navigation %}
    {% include 'partials/navigation.html.twig' %}
  {% endblock navigation %}

  <div id="content">
    {% block content %}
      {{ page.content }}
    {% endblock content %}
  </div>

  {% block footer %}
    {% include 'partials/footer.html.twig' %}
  {% endblock footer %}

</body>
</html>
