{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!doctype html>
<html>
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {#
    <link href="http://fonts.googleapis.com/css?family=Lato:400,400,300,900" rel="stylesheet" type="text/css">
    #}

    {% block stylesheets %}
    {% do assets.addCss('theme://css/main-position.css', 101) %}
    {% do assets.addCss('theme://css/main-grid.css', 102) %}
    {% do assets.addCss('theme://css/main-style.css', 103) %}
    {% endblock %}
    {{ assets.css() }}

  {% endblock head %}
</head>


<body id="body">

  {% block navigation %}
    {% include 'partials/navigation.html.twig' %}
  {% endblock navigation %}

  <div id="content">
    {% block content %}
      {{ page.content }}
    {% endblock content %}
  </div>

  {% block footer %}
    {% include 'partials/footer.html.twig' %}
  {% endblock footer %}

</body>
</html>
