{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!doctype html>
<html>
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link href="http://fonts.googleapis.com/css?family=Lato:400,400,300,900" rel="stylesheet" type="text/css">

    {% block stylesheets %}
      {% do assets.addCss('theme://css/standardize.css', 103) %}
      {% do assets.addCss('theme://css/index-grid.css', 102) %}
      {% do assets.addCss('theme://css/index.css', 101) %}
    {% endblock %}
    {{ assets.css() }}
  {% endblock head %}
</head>


<body class="body page-index clearfix">
  <div class="menu clearfix">
    {% block navigation %}
    {#
    <img class="logo" src="{{ url('theme://images/logo.png') }}">
    <p class="_text _text-1">{{ config.site.title }}</p>
    <p class="_text _text-2">ABOUT US</p>
    <p class="_text _text-3">VISIT OUR ROUND TABLE</p>
    <p class="_text _text-4">SEARCH</p>
    #}
    {% endblock navigation %}
  </div>

  <div class="title clearfix">
    {% block title %}
    <h2 class="_text _text-5">The Creative's&nbsp;<br>Knowledge Base</h2>
    <p class="_text _text-6">We provide information for creative freelancers in Switzerland</p>
    {% endblock title %}
  </div>

  {% block content %}


  {% endblock content %}
</body>
</html>
