<footer id="footer">
<hr>
<div class="row space-between">

  <div class="col-xs-12 col-sm-6 col-md-4">
    <p>
      {% for page in pages.children.visible %}
      <a class="{{ current_page }} {{ page.slug }}" href="{{ page.url }}">{{ page.menu }}</a><br />
      {% endfor %}
    </p>
    <p>
      <a href="{{ page.find('/privacy').url }}">{{ page.find('/privacy').title }}</a>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    {% if site.address %}
      <p>{{ site.address.name }}<br />
        {{ site.address.street }}<br />
        {{ site.address.city }}<br />
        {{ site.address.country }}
      </p>
    {% endif %}
    <p><a href="mailto:{{ site.author.email|safe_email }}">
      {{ site.author.email|safe_email }}
      </a></p>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="//google.us14.list-manage.com/subscribe/post?u=80723f51c9a7a04e85a51bd95&amp;id=872cfc7a8e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

          <div class="mc-field-group">
            <label for="mce-EMAIL">get our newsletter</label>
            <input type="email" value="" name="EMAIL" class="text-field" id="mce-EMAIL" placeholder="email address">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_80723f51c9a7a04e85a51bd95_872cfc7a8e" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="submit" name="newsletter" id="mc-embedded-subscribe" class="button block--color-hard"></div>
        </div>
      </form>
      </div>
    <!--End mc_embed_signup-->
  </div>

</div>

<div class="row align-center">
  <div class="col-xs-6 horizontal-center">
    <br />
    <br />
    <p>
    {{ page.find('/images').media['logo.png'].cropResize(120, 120).html('moneynotlove', 'moneynotlove') }}
    <!-- <img src="{{ page.find('/images').media['logo.png'].cropResize(150, 150).url }}"> -->
    </p>
    <p class="text-hard">{{ config.site.title }}</p>
  </div>

</div>
</footer>
