<div id="navigation" class="nav nav__wrapper">

  <div class="nav__titles">
    <div class="nav__title-logo"><img id="logo" src="{{ page.find('/images').media['logo.png'].cropResize(28, 28).url }}"></div>
    <div class="nav__title-text">{{ config.site.title }}</div>
  </div>

  <div class="nav__links">
    <label class="nav__toggle" for="show-menu">menu</label>
    <input type="checkbox" id="show-menu" role="button">
    <ul id="show-pages" class="nav__links-list">
      {% for page in pages.children.visible %}
      {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        <li class="nav__link"><a class="{{ current_page }} {{ page.slug }}" href="{{ page.url }}">{{ page.menu }}</a></li>
      {% endfor %}

      {# right aligned nav link
      <li class="nav__link nav__link--right"><a href="#">english</a></li>
      #}
    </ul>
  </div>
</div>
