<ul>
  <li>
    <img class="pure-img" id="logo" src="{{ url('theme://images/logo.png') }}">
  </li>
  <li>
    <p id="site-title">{{ config.site.title }}</p>
  </li>

  {% for page in pages.children.visible %}
  {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
  <li><a class="{{ current_page }}" href="{{ page.url }}">
    {{ page.menu }}
  </a></li>
  {% endfor %}
</ul>
